[submodule "bundle/jshint2.vim"]
	path = bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
